<div class="white-container mt-5" style="position:relative;">
  <%= image_tag UserLanguage.find_by(user: User.last, active:true).language.name.downcase + "-icon.png", class: "quiz-icon" %>
  <p>What does the slang "<%= @word.original %>" means?</p>
</div>

<%= simple_form_for :quiz_thing, url: answer_quiz_path, method: :post do |f| %>
  <%= f.input :question, as: :hidden, input_html: { value: @word.original } %>
  <%= f.input :answer, as: :hidden %>
<% end %>


<div class="mt-5">
  <div class="quiz-answers">
    <% @all_answers.each do |answer| %>
        <div class="quiz-answer white-container mt-2 p-2 <%= 'correct' if answer == @true_answer %>" data-answer="<%= answer %>">
          <span data-answer="<%= answer %>"><%= answer %></span>
        </div>
      <% end %>
      <span class="pill-case mt-2"><a class="d-none pr-2 pl-2 pt-1 pb-1 pill-button" id="next_question">Next</a></span>
  </div>
</div>

