<div class='navbar d-flex'>
  <div class="lateral-block-r">

    <%= link_to('#') do %>
      <i class="fas fa-arrow-circle-left"></i>
    <% end %>

    <%= link_to('#') do %>
      <i class="fas fa-list-ul"></i>
    <% end %>

  </div>
  <div class="center-block">
    <%= image_tag "awesome.png", alt: "awesome", class: "awesome-btn" %>
  </div>
  <div class="lateral-block-l">

    <%= link_to('#') do %>
      <i class="fas fa-flag"></i>
    <% end %>

    <%= link_to('#') do %>
      <i class="fas fa-user-circle"></i>
    <% end %>

  </div>
</div>
