<div class='navbar d-flex' style="background-image: url(<%= image_path "navbar.svg" %>);">
  <div class="lateral-block-r">
    <% active_user_language = UserLanguage.find_by(active: true, user: current_user) %>
    <% if controller.class.name == "LanguagesController" %>
      <a><i class="fas fa-home"></i></a>
    <% else %>
      <% path = current_user ? user_language_path(active_user_language) : root_path %>
      <%=  link_to(path) do %>
        <i class="fas fa-home"></i>
      <% end %>
    <% end %>

    <%= link_to user_words_path do %>
      <i class="fas fa-list-ul"></i>
    <% end %>

  </div>

  <div class="lateral-block-l">

    <%= link_to(languages_path) do %>
      <i class="fas fa-globe-americas"></i>
    <% end %>

    <%= link_to(profile_path) do %>
      <i class="fas fa-user-circle"></i>
    <% end %>

  </div>
</div>
