<!DOCTYPE html>
<html>
  <head>
 <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">

    <title>Argo</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
      <%= render 'shared/ios_pwa_links' %>
  </head>
    <% if  params[:action] != "starter" && params[:controller] == "quizzes" || params[:controller] == "user_words"%>
      <% @class = UserLanguage.find_by(user: User.last, active:true).language.name.downcase %>
    <% else %>
      <% @class = "regular-" + ["blue", "pink", "beige"].sample %>
    <% end %>

  <body class="<%= @class  %>">
    <div class="page-render <%= "d-flex justify-content-between flex-column" if current_page?('/quizzes/starter/') %>">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <%= render 'shared/navbar' unless current_page?(root_path) %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
